<% content_for :title, "CodingTests" %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "primary", "landing_page" %>
<% end %>

<main>
    <div id="primary">
        <div id="gradient">
            <div id="primary_content">
                <h1>CodingTests</h1>
                <h3>Achieve both confidence and competence in your Ruby coding skills</h3>
                <div><a href="/users/login">Start Here</a></div>
            </div>
        </div>
    </div>
</main>